<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/assets/css/main.css">
<link rel="stylesheet" href="/assets/css/title.css">
<link rel="stylesheet" href="/assets/css/wipe.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<title>{{ page.title }}</title>
<header id="header">

    <div class="nav">
    <div class="nav-left">
        <h1><a href="/" class="title-hover">{{ site.title }}</a></h1>
    </div>
    <div class="nav-toggle">☰</div>
        <div class="nav-right">
            <a href="/projects"><span>Projects</span></a>
            <!-- <a href="/blog"><span>Blog</span></a> -->
            <a href="/about"><span>About</span></a>
            <a href="https://status.benleppke.com"><span>Status</span></a>
        </div>
        <div class="theme-toggle-container">
            <button class="theme-toggle" aria-label="Toggle theme" title="Toggle theme (Dark/Auto/Light)">
                <i class="fas fa-moon"></i>
                <i class="fas fa-adjust"></i>
                <i class="fas fa-sun"></i>
            </button>
        </div>
    </div>

    <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/assets/img/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/assets/img/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Ben Leppke" />
    <link rel="manifest" href="/assets/img/favicon/site.webmanifest" />
    <script src="/assets/js/theme-toggle.js"></script>
    <script src="/assets/js/image-loader.js"></script>

</header>
