<meta charset="utf-8">
<link rel="stylesheet" href="/assets/css/main.css">
<title>{{ page.title }}</title>
<header id="header">
    <div class="nav">
    <div class="nav-left">
        <a href="/"><span>{{ site.title }}</span></a>
    </div>
    <div class="nav-right">
        <a href="/statuspage"><span>Statuspage</span></a>
        <a href="/contact"><span>Contact</span></a>
        <a href="/about"><span>About</span></a>
        <a href="/projects"><span>Projects</span></a>
        <a href="/blog"><span>Blog</span></a>
    </div>
    </div>
</header>
