<header id="header">

    <div class="nav">
    <div class="nav-left">
        <h1><a href="/" class="title-hover">{{ site.title }}</a></h1>
    </div>
    <div class="nav-toggle">☰</div>
        <div class="nav-right">
            <a href="/projects"><span>Projects</span></a>
            <a href="/about"><span>About</span></a>
            <a href="/status"><span>Status</span></a>
        </div>
        <div class="theme-toggle-container">
            <button class="theme-toggle" aria-label="Toggle theme" title="Toggle Dark/Light theme">
                <i class="fas fa-moon"></i>
                <i class="fas fa-sun"></i>
            </button>
        </div>
    </div>

</header>
