<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <a href="#main-content" class="skip-link">Skip to content</a>
    {% include header.html %}
    <div class="wrapper" id="main-content">
      <div class="profile-content">
        <div class="profile-text">
          {{ content }}
        </div>
        <div class="profile-container shine">
          <img class="profile-image" src="{{ site.profile }}">
        </div>
      </div>
    </div>
  </body>
  {% include footer.html %}
</html>