<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="wrapper">
      <img class="profile" src="{{ site.profile }}">
      <h1>{{ site.greeting }}</h1>
      {{ content }}
    </div>
    <footer id="footer">
      <div class="footer-content">
        <div class="social-links">
          <a href="https://github.com/benleppke" target="_blank">GitHub</a>
          <a href="https://gitlab.com/benleppke" target="_blank">GitLab</a>
        </div>
        <div class="copyright">
          &copy; {{ site.time | date: '%Y' }} {{ site.title }}
        </div>
      </div>
    </footer>
  </body>
</html>