<!doctype html>
<html>
  <head>
    {% include header.html %}
  </head>
  <body>
    <div class="wrapper">
      <div class="profile-content">
        <div class="profile-container">
          <img class="profile-image" src="{{ site.profile }}">
        </div>
        <div class="profile-text">
          <h1 class="wipe">{{ site.greeting }}</h1>
          {{ content }}
        </div>
      </div>
      <h2>Featured Projects</h2>
      <div class="projects-grid">
        {% assign featured_projects = site.projects | where: "featured", true %}
        {% for project in featured_projects limit:3 %}
          <div class="project-card">
            <h3><a href="{{ project.url }}">{{ project.title }}</a></h3>
            <p>{{ project.summary | markdownify }}</p>
            {% if project.source %}
              <a href="{{ project.source }}" class="source-button" target="_blank">Source</a>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </body>
  {% include footer.html %}
</html>
