<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <a href="#main-content" class="skip-link">Skip to content</a>
    {% include header.html %}
    <div class="wrapper" id="main-content">
      <h1>{{ page.title }}</h1>
      {% if page.summary %}
        <p class="project-summary">{{ page.summary }}</p>
      {% endif %}
      {% if page.source %}
        <a href="{{ page.source }}" class="source-button" target="_blank">Source</a>
      {% endif %}
      {{ content }}
    </div>
  </body>
  {% include footer.html %}
</html>
